.post-content a {
    color: rgb(var(--color-highlight)) !important;
}

span.logo__text {
    color: rgb(var(--color-primary)) !important;
    font-family: space-mono, monospace !important;
}

body {
    color: rgb(var(--color-accent-a)) !important;
    font-family: uncut-sans, sans, sans-serif !important;
    background-color: rgb(var(--color-background)) !important;
}

.header,
.menu,
.submenu {
    background-color: rgb(var(--color-accent-e)) !important;
}

main.post,
.post.on-list {
    background-color: rgba(var(--color-background), 0.8) !important;
}

body.background-image {
    background-position-y: 40px;
}

h1,
h2,
h3 {
    color: rgb(var(--color-primary)) !important;
}
